
#topBox{
    display:flex;
    border: 1px ;
}
#leftBox{
    width:100%;
    height: 570px;
    background-image: url(https://assets.faasos.io/faasos_v2/brandPattern.png);
    
    border: 2px ;
    box-sizing: border-box;
    position: relative;
}
#rightBox{
    border: 1px ;
    box-sizing: border-box;
}
#rightBox > img{
    width:100%;
    border-bottom-left-radius: 50px;
}
#logoLine{
    display: flex;
    gap: 38%;
    margin:35px 0% 0% 13%;
    border: 1px ;
}

#btn_div{
    margin: 10px 0px 10px 20% ;
    border: 1px;
}
#myBtn,#myBtn2{
    
    margin-top: 5px;
    color: rgb(255, 230, 0);
    background-color: #564099;
    outline: none;
    font-family: sans-serif;
    height:30px;
    letter-spacing: 0.01rem;
     border:#564099 ; 
     /* font-size: 20px; */
     padding: 10px;
     text-align: center;
     /* display: inline-block; */
     /* vertical-align: middle; */
     font-size: 20px;
}
#myBtn2{
border:1px solid rgb(255, 230, 0) ;
padding-bottom:20%;
border-radius: 5%;

}
body > h1:nth-child(2){
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: 800;
    margin-top:5%;
    letter-spacing: 0.01rem;
}
body > div:nth-child(3){
    font-family: Muli, sans-serif;
    color: rgb(126, 126, 126);
    text-align: center;
    white-space: normal;
    font-weight: 200;
    margin-top:-1%;
}
#tag_line{
    color:#fdfdfe;
    font-size: 50px;
}
