
#topBox{
    display:flex;
    border: 1px ;
}
#leftBox{
    width:100%;
    height: 570px;
    background-image: url(https://assets.faasos.io/faasos_v2/brandPattern.png);
    
    border: 2px ;
    box-sizing: border-box;
    position: relative;
}
#rightBox{
    border: 1px ;
    box-sizing: border-box;
}
#rightBox > img{
    width:100%;
    /* height:584px; */
    border-bottom-left-radius: 50px;
}
#logoLine{
    display: flex;
    /* grid-template-columns: 20% 50%;
    grid-template-rows: 60%; */
    gap: 38%;
    margin:35px 0% 0% 13%;
    border: 1px ;
}

#btn_div{
    margin: 10px 0px 10px 27% ;
    border: 1px;
}
#btn_div>button{
    height: 80%;
    width: 100px;
    margin-top: 5px;
    color: rgb(255, 230, 0);
    background-color: #564099;
    outline: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#Login_btn{
   margin-right: 10px;
   border: none;
}
#Signin_btn{
    border: 1px solid rgb(255, 179, 0);
    border-radius: 4px;
}

#tag_line{
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-left: 12%;
}

#landing_page_locationDiv{
    height: 60px;
    width: 60%;
    border: 1px ;
    margin-left: 12%;
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

#find_food_btn{

    height: 60px;
    width: 160px;
    background-color:#FFD344;
    color: rgb(61, 61, 61);
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 10px;
    border: none;
    
}
#locate_me_div{
    width: 78%;    
   padding-top: 10px;
    display: flex;
    border: 1px ;

} 
#locationEnter{
    border: 1px ;
    padding-top: 10px;
}
#locateMe{
  margin-left: 320px;
  width: 100px;
  border: 1px ;
  padding-top: 10px;
}
